[submodule "waiterbot-api"]
	path = waiterbot-api
	url = https://github.com/shirlymadushanka/waiterbot-api.git
[submodule "waiterbot_app"]
	path = waiterbot_app
	url = https://github.com/kavin-du/waiterbot_app.git
[submodule "owner-webapp"]
	path = owner-webapp
	url = https://github.com/buddhiheshan/owner-webapp.git
[submodule "waiterbot-operator-desktopapp"]
	path = waiterbot-operator-desktopapp
	url = https://github.com/buddhiheshan/waiterbot-operator-desktopapp.git
[submodule "waiterbot-hardware"]
	path = waiterbot-hardware
	url = https://github.com/buddhiheshan/waiterbot-hardware.git
